<!DOCTYPE html>
<html lang="en" ng-app="pyjobs">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
</head>
<body ng-controller="pyjobsMain">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Python Jobs</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <form id="search" class="navbar-form navbar-right" ng-submit="status != 'searching' && search(search.searchTerm, search.location)">
                <div class="form-group">
                    <label class="label">
                        Python
                        <span class="glyphicon glyphicon-plus"></span>
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Job description"
                           ng-model="search.searchTerm" />
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Location"
                           ng-model="search.location" />
                </div>

                <button class="btn btn-default" ng-disabled="status == 'searching'">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container" style="margin-top:55px">
    <form class="navbar-form navbar-right">
        <span class="label" btn-con-status="status" ng-bind="status"></span>

        <span class="badge">
            Results:
            <span ng-bind="(jobs|filter:text).length+'/'+jobs.length"></span>
        </span>
        <input type="text" class="form-control" placeholder="Filter results ..."
               ng-model="text" />
    </form>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="job in jobs | filter: text">
                    <div class="row">
                        <h3 class="col-md-9">
                            <a href="{{!job.url}}" target="_blank" ng-bind="job.title"></a>
                             <small ng-bind="job.origin"></small>
                        </h3>
                        <span class="col-md-3" ng-bind="job.location"></span>
                    </div>
                    <div class="row">
                        <h6 class="col-md-9">
                            <div class="row">
                                <p class="col-md-2">
                                    <i class="glyphicon glyphicon-calendar" title="Data de publicação"></i>
                                    <span ng-bind="job.date | date"></span>
                                </p>
                                <p class="col-md-8">
                                    <i class="glyphicon glyphicon-book" title="Empresa"></i>
                                    <span ng-bind="job.company"></span>
                                </p>
                            </div>
                            <div class="row">
                                <span class="col-md-12" ng-if="job.tags.length">
                                    <i class="glyphicon glyphicon-tags" title="Tags"></i>
                                    <span ng-bind="job.tags"></span>
                                </span>
                            </div>
                        </h6>
                        <div class="col-md-3">
                            <span ng-bind="job.category"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>